.wp-left{float:right;margin-right:-426px;width:290px;}
.wp-left-fixed{position:fixed;top:-75px;margin-left:920px;}
.wp-left-fixed-bottom{top:auto;bottom:95px;}
.wp-left-post{overflow:hidden;height:46px;}
.wp-left-post a{float:left;text-align:center;text-decoration:none;}
.wp-left-post-w{position:relative;left:0;width:600px;transition:.3s;}
.wp-left-post-w:hover{left:-290px;}
.wp-left-post-btn{float:left;display:block;width:290px;border-radius:5px;background:#2b2b7d;color:#ffffff;text-align:center;font-size:20px;line-height:46px;cursor:pointer;}
.wp-left-post-btn:before{position:relative;top:5px;display:inline-block;margin-right:10px;width:30px;height:25px;background:url(../images/sprit1.png) no-repeat -150px 0;content:"";}
.wp-left-post-b{float:left;}
.wp-left-post-b a{display:block;width:97px;height:46px;color:#fff;font-size:17px;line-height:46px;}
.wp-left-post-b a:hover{background:#ffffff;color:#000000;}
.wp-left-post-bl{border-bottom-left-radius:5px;border-top-left-radius:5px;background:#2b2b7d;}
.wp-left-post-bn{background:#2b2b7d;}
.wp-left-post-br{border-top-right-radius:5px;border-bottom-right-radius:5px;background:#2b2b7d;}
.wp-left-cate{margin:17px 0;padding:25px 18px 25px 32px;background:#2b2b7d;}
.wp-left-cate-top{position:relative;margin-bottom:20px;text-indent:15px;font-size:18px;}
.wp-left-cate-top:before{position:absolute;top:4px;display:block;width:6px;height:18px;background:#ffffff;content:"";}
.wp-left-cate-img{margin-bottom:15px;font-size:0;}
.wp-left-cate-img a{display:block;margin-bottom:10px;}
.wp-left-cate-img img{width:226px;height:80px;}
.wp-left-cate-lnk a{display:inline-block;margin:0 6px 10px 0;padding:0 28px;background:#2b2b7d;color:#ffffff;text-decoration:none;line-height:30px;transition:.2s;}
.wp-left-cate-lnk a:hover{background:#ffffff;color:#000;}
.wp-left-cate-adm{float:right;margin-top:3px;margin-right:15px;color:#0065A0;text-decoration:none;font-size:13px;}
.wp-left-cate-adm:hover{color:#2b2b7d;}

margin-right:0px;
background:#2b2b7d;
background:#2b2b7d;